*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.container{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
table{
    border-collapse: collapse;
}
table,th,td{
   
    
    padding:10px;
    text-align: center;
    /* border:#ccc 2px solid; */
    /* border-collapse: collapse; */
}
td,th{
    padding:20px 30px;
    border-bottom: 1px solid #ddd;

}
body{
    background: url('../images/desc-bg.png') no-repeat 0px -60px/ cover;
    color: #fff;
    font-size:20px;
    font-family: 'Inter', sans-serif;}

input[type=submit]{
    background: white;
    border:1px solid white;
    color: #e73a37;
    font:inherit;
    font-size: 16px;
    border-radius: 5px;
    padding:5px 20px;
    cursor:pointer;



}